server {
  listen   80;
  root {{root}};
  index index.php index.html index.htm;
  server_name {{server_name}};

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
}